{% extends 'main/base.html' %}
{% block title %} Signup {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid">
    <div class="form">
        <column>
            <div class="login-page">
                  <div class="signup">
                    <h1>Sign Up</h1>
                    <br>
                    <a href="/app/learner-signup"><p>I'm a Learner</p> </a>
                    <br>
                    <a href="/app/tutor-signup"><p>I'm a Tutor</p> </a>
                  </div>
                  </div>
              
              
              
        </column>
    </div>
    
</div>
{% endblock %}

