{% extends 'simulations/base.html' %}
{% load static %}
{% block title %} Simple Pendulum {% endblock %}
{% block content %}
<div class="container">

    <div class="row g-5">
        <div class="col-md-8">
            <canvas id="canvas"></canvas>
        </div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3 bg-body-tertiary rounded">
                    <h4 class="fst-italic">About</h4>
                    <p class="mb-0">Customize this section to tell your visitors a little bit about your
                        publication,
                        writers, content, or something else entirely. Totally up to you.</p>
                </div>


                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseOne">
                                Simulation
                            </button>
                        </h2>

                        


                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                <label>Restitution</label>
                                <input type="range" id="restitution" min="1" max="20" step=".5" value=""><br>
                                <p id="restitutionVal"></p>
                            </div>
                        </div>
                   
                       
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                <label>Gravity</label>
                                <input type="range" id="gravity" min="1" max="10" step=".1" value="1"><br>
                                <p id="gravityValue"></p>
                            </div>
                        </div>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                <label>Damping</label>
                                <input type="range" id="damping" min="1" max="20" step=".5" value="1"><br>
                                <p id="dampingVal"></p>
                            </div>
                        </div>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                <label>Air Friction</label>
                                <input type="range" id="airFriction" min="0" max="5" step=".1" value="0"><br>
                                <p id="airFrictionVal"></p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.18.0/matter.min.js"
    integrity="sha512-5T245ZTH0m0RfONiFm2NF0zcYcmAuNzcGyPSQ18j8Bs5Pbfhp5HP1hosrR8XRt5M3kSRqzjNMYpm2+it/AUX/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.19.0/matter.js"
    integrity="sha512-rsntMCBgWYEWKl4HtqWmQ3vdHgvSq8CTtJd19YL7lCtKokLPWt7UEoHVabK1uiNfUdaLit8O090no5BZjcz+bw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.18.0/matter.js"
    integrity="sha512-kTA5As3DFbe7Gz6vIpsyaWjX9WSEKeyGigJkmzlQDIUVlPV5ceFxKHG+CAXvbxQvd8iVWJ6nS5egDw1WCss4Sw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script src="{% static 'func_js/cradle.js' %}"></script>
<style>
    * {
        box-sizing: border-box;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .canvas-container {
        height: 100%;
        width: 100%;
    }

    #canvas {
        max-width: 100%;
        max-height: 100%;
    }
</style>

{% endblock %}
