{% extends 'main/index.html' %}

{% block title %} Simulation {% endblock %}

{% load static %}

{% block content %}
<div id="fh5co-blog">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Simulations</h2>
                <p>Experience The Best Simulations</p>
                <canvas id="canvas">

                </canvas>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.18.0/matter.min.js" integrity="sha512-5T245ZTH0m0RfONiFm2NF0zcYcmAuNzcGyPSQ18j8Bs5Pbfhp5HP1hosrR8XRt5M3kSRqzjNMYpm2+it/AUX/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.19.0/matter.js" integrity="sha512-rsntMCBgWYEWKl4HtqWmQ3vdHgvSq8CTtJd19YL7lCtKokLPWt7UEoHVabK1uiNfUdaLit8O090no5BZjcz+bw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.18.0/matter.js" integrity="sha512-kTA5As3DFbe7Gz6vIpsyaWjX9WSEKeyGigJkmzlQDIUVlPV5ceFxKHG+CAXvbxQvd8iVWJ6nS5egDw1WCss4Sw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                <script type="module" src="{% static 'func_js/double_pendulum.js' %}"></script>

            </div>
        </div>
        <div class="row row-padded-mb">
            <div class="col-md-4 animate-box">

                <div class="fh5co-event">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/projectile.png' %}" class="card-img-top" alt="Picture of simulation">
                        <div class="card-body">
                          <h5 class="card-title">Projectile</h5>
                          <p class="card-text">Velocity, acceleration and Vectors</p>
                          <a href="/simulations/projectile" class="btn btn-primary">Go</a>
                        </div>
                      </div>
                </div>
            </div>
            <!-- <div class="col-md-4 animate-box">
                <div class="fh5co-event">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/cradle.png' %}" class="card-img-top" alt="Picture of simulation">
                        <div class="card-body">
                          <h5 class="card-title">Simple Pendulum</h5>
                          <p class="card-text">Velocity, acceleration and Vectors</p>
                          <a href="/simulations/simple-pendulum" class="btn btn-primary">Go</a>
                        </div>
                      </div>
                </div>
            </div> -->
            <div class="col-md-4 animate-box">
                <div class="fh5co-event">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/cradle.png' %}" class="card-img-top" alt="Picture of simulation">
                        <div class="card-body">
                          <h5 class="card-title">Cradle</h5>
                          <p class="card-text">Velocity, acceleration and Vectors</p>
                          <a href="/simulations/cradle" class="btn btn-primary">Go</a>
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-md-4 animate-box">
                <div class="fh5co-event">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/cradle.png' %}" class="card-img-top" alt="Picture of simulation">
                        <div class="card-body">
                          <h5 class="card-title">Gravity</h5>
                          <p class="card-text">Velocity, acceleration and Vectors</p>
                          <a href="/simulations/gravity" class="btn btn-primary">Go</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}