{% extends 'main/index.html' %}

{% block title %} Home {% endblock %}
{% block content %}
{% load static %}

  
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center slider-text">
				<div class="slider-text-inner">
					<h1>The Roots of Education are Bitter, But the Fruit is Sweet</h1>
						<h2>Brought to you by TSB</h2>
						<p><a class="btn btn-primary btn-lg" href="/courses">Start Learning Now!</a></p>
				</div>
			</div>
		</div>
		</div>
	</div>
	

	<div id="fh5co-course-categories">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Course categories</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-shop"></i>
						</span>
						<div class="desc">
							<h3><a href="#">Business</a></h3>
							<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
						</div>
					</div>
				</div>
				<!--<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-heart4"></i>
						</span>
						<div class="desc">
							<h3><a href="#">Health &amp; Psychology</a></h3>
							<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
						</div>
					</div>
				</div>-->
				<!--<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-banknote"></i>
						</span>
						<div class="desc">
							<h3><a href="#">Accounting</a></h3>
							<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
						</div>
					</div>
				</div>-->
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-lab2"></i>
						</span>
						<div class="desc">
							<h3><a href="#">Science &amp; Technology</a></h3>
							<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-photo"></i>
						</span>
						<div class="desc">
							<h3><a href="#">Art &amp; Media</a></h3>
							<p>Explore the captivating world of Arts and Media through this dynamic course, delving into diverse forms of creative expression, storytelling, visual communication, and the influential role of media in shaping our society.</p>
						</div>
					</div>
				</div>
				<!--<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-home-outline"></i>
						</span>
						<div class="desc">
							<h3><a href="#">Real Estate</a></h3>
							<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
						</div>
					</div>
				</div>-->
				<!--<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-bubble3"></i>
						</span>
						<div class="desc">
							<h3><a href="#">Language</a></h3>
							<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
						</div>
					</div>
				</div>-->
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-world"></i>
						</span>
						<div class="desc">
							<h3><a href="#">Web &amp; Programming</a></h3>
							<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-counter" class="fh5co-counters" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row">
						
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-course">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Our Course</h2>
					<p>Designed to empower and inspire, our course provides a deep dive into the subject matter, equipping you with valuable knowledge, practical skills, and a broad perspective. With engaging lectures, hands-on activities, and interactive discussions, you'll gain a solid foundation in the subject and develop critical thinking abilities. Join us to unlock your full potential, broaden your horizons, and embark on a transformative learning experience that will shape your future endeavors.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 animate-box">
					<div class="course">
						<img src="{% static 'images/chemBg.jpg' %}" class="course-img">
						<div class="desc">
							<h3><a href="#">Chemistry</a></h3>
							<p>Uncover the wonders of chemistry in this engaging course. Delve into the building blocks of matter, explore chemical reactions, delve into the periodic table, and discover the diverse applications of chemistry in our everyday lives, from medicine to materials and beyond.</p>
							<span><a href="#" class="btn btn-primary btn-sm btn-course">Take A Course</a></span>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="course">
						<img src="{% static 'images/business.png' %}" class="course-img">
						<div class="desc">
							<h3><a href="#">Business &amp; Accounting</a></h3>
							<p>"Discover the intricacies of the business world in this comprehensive course. Gain valuable insights into entrepreneurship, management, marketing, finance, and strategy, empowering you with the knowledge and skills to thrive in today's competitive business environment."</p>
							<span><a href="#" class="btn btn-primary btn-sm btn-course">Take A Course</a></span>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="course">
						<img src="{% static 'images/phyBg.jpg' %}" class="course-img">
						
						<div class="desc">
							<h3><a href="#">Programming</a></h3>
							<p>Dive into the exciting realm of programming and unlock the power to create innovative software solutions. Learn coding languages, algorithms, and problem-solving techniques to bring your ideas to life in this comprehensive programming course."</p>
							<span><a href="#" class="btn btn-primary btn-sm btn-course">Take A Course</a></span>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="course">
						
						<img src="{% static 'images/phyBg.jpg' %}" class="course-img">
						
						<div class="desc">
							<h3><a href="#">Physics</a></h3>
							<p>Embark on a fascinating journey into the realm of physics with this captivating course. Explore the fundamental principles of matter, energy, motion, and the laws governing the universe, unraveling the mysteries of our physical world through experimentation and theory.</p>
							<span><a href="#" class="btn btn-primary btn-sm btn-course">Take A Course</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	
{% endblock %}