{% extends 'main/index.html' %}
{% block title %} Search {% endblock %}
{% load static %}
{% block content %}
<div id="fh5co-course">
  <div class="container">
    <div class="row animate-box">
      <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
        <h2>Categories</h2>
      </div>
    </div>
    <div class="row">
    {% if courses %} 
        {% for course in courses %}
            <div class="col-md-6 animate-box">
                <div class="course">
                <div class="desc">
                    <h3><a href="#" id="title">{{course.title}}</a></h3>
                    
                    <p id="description">{{course.description|truncatewords_html:30|safe}}</p>
                    <p id="category">{{course.category}}</p>
                    <span>
                        <a href="{% url 'course_modules' course.title %}" class="btn btn-primary btn-sm btn-course">Take A Course</a>
                    </span>
                </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
      <div class="course">
        <div class="desc" style="word-wrap: break-word">
          <h1>No Courses :(</h1>
        </div>
      </div>
    {% endif %}
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous">
    
</script>
{% endblock %}

