<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Responsive Div</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h5>Div 1</h5>
          </div>
          <div class="card-body">
            <p>This is the content of Div 1.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h5>Div 2</h5>
          </div>
          <div class="card-body">
            <p>This is the content of Div 2.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h5>Div 3</h5>
          </div>
          <div class="card-body">
            <p>This is the content of Div 3.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function() {
      $(".card").on("click", function() {
        $(this).toggleClass("active");
      });
    });
  </script>
</body>
</html>
